target
*.iml
*.pyc
*.deb
debian/repo-clean/
debian/changelog
debian/files
debian/*.substvars
debian/*.debhelper
debian/*.debhelper.log
debian/debhelper-build-stamp
build.log
.env
__pycache__
.pytest_cache
build-py
*.egg-info
.cache
.pybuild
