[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = ">=6.0"
lxml = "*"
requests = "*"
pyyaml = "*"


[dev-packages]

coverage = "*"
flake8 = "*"
flake8-docstrings = "*"
ipykernel = "*"
pycodestyle = "*"
pytest = "*"
pytest-runner = "*"
sphinx = "*"
watchdog = "*"

[requires]

python_version = "3.5"

# eof
