Source: repo-clean
Section: mygov
Priority: optional
Maintainer: Martin Ellis <martin.ellis@gov.scot>
Build-Depends: debhelper (>=9),
 dh-python,
 python3,
 python3-click,
 python3-lxml,
 python3-pytest,
 python3-requests,
 python3-setuptools,
 python3-yaml
Standards-Version: 3.9.6
X-Python3-Version: >= 3.2

Package: repo-clean
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}
Description: Clean old build artifacts
